<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    {% include "header.html" %}
</head>

<body data-gr-c-s-loaded="true" class="vsc-initialized">

    {% extends "template.html" %}
    {% block content %} 
    
    <section class="section has-background-light">
        <div class="ourProductsTitle has-text-centered">
            <h2 class="title is-2 animate__animated animate__bounce">
                &nbsp;Our Products
            </h2>
            <p class="is-size-4 mx-6 px-6">
                No matter what type of loan you are looking for, we are there with you every
                step of the way to guide you along your loan experience. Let us find the perfect loan that works for
                you.
            </p>
            <br>
        </div>
    </section>

    

    <section class="section has-background-light">
        <div class="container">
            <div class="columns">
                <div class="column hvr-grow">
                    <div id="mortgageCalculator" class="card">
                        <!--animate__animated animate__zoomIn animate__delay-2s !-->
                        <div class="card-image has-text-centered">
                            <figure class="image imgPad">
                                <!-- <img src="static\svg\home-run.svg"> -->
                                <i class="fas fa-home fa-10x"></i>
                            </figure>
                        </div>
                        <div class="card-content">
                            <h3 class="title is-2">Mortgage (Loan) Calculator</h3>
                            <!-- <h4 class="subtitle is-4">2017 – Present</h4> -->
                            <div class="content is-size-5">
                                Get a custom rate and payment quote on a new mortgage.
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="{{ url_for('mortgage_calculators') }}" class="card-footer-item">Learn
                                More</a>
                        </footer>
                    </div>
                </div>
                <div class="column hvr-grow">
                    <div id="principalCalculator" class="card">
                        <div class="card-image">
                            <figure class="image imgPad has-text-centered">
                                <i class="fas fa-building fa-10x"></i>
                            </figure>
                        </div>
                        <div class="card-content">
                            <h3 class="title is-2">Loan Principal Calculator</h3>
                            <!-- <h4 class="subtitle is-4">2019 – Present</h4> -->
                            <div class="content is-size-5">
                                We are fully committed to helping you refinance with competitive rates.
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="{{ url_for('principal_calculator') }}" class="card-footer-item">Learn More</a>
                        </footer>
                    </div>
                </div>
                <div class="column hvr-grow">
                    <div id="homeAffordabilityCalculator" class="card">
                        <div class="card-image">
                            <figure class="image imgPad has-text-centered">
                                <!-- <img src="https://avatars0.githubusercontent.com/u/30937952?s=200&v=4"> -->
                                <!--https://avatars3.githubusercontent.com/u/1531383?s=460&amp;v=4-->
                                <i class="fas fa-money-check-alt fa-10x"></i>
                            </figure>
                        </div>
                        <div class="card-content">
                            <h3 class="title is-2">How Much Home Calculator</h3>
                            <!-- <h4 class="subtitle is-4">2018 – Present</h4> -->
                            <div class="content is-size-5">
                                Estimate the home price you can afford using income and other information.
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="{{ url_for('affordability_calculator') }}" class="card-footer-item">Learn More</a>
                        </footer>
                    </div>
                </div>
                <div class="column hvr-grow">
                    <div id="homeValueEstimator" class="card">
                        <div class="card-image">
                            <figure class="image imgPad has-text-centered">
                                <i class="fas fa-sign fa-10x"></i>
                            </figure>
                        </div>
                        <div class="card-content">
                            <h3 class="title is-2">Home Value Estimator</h3>
                            <!-- <h4 class="subtitle is-4">2018 – Present</h4> -->
                            <div class="content is-size-5">
                                Estimate the value of a home you are looking at or are interested in selling
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="" class="card-footer-item">Learn More</a>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column hvr-grow">
                    <div id="interestOnlyCalculator" class="card">
                        <div class="card-image">
                            <figure class="image imgPad has-text-centered">
                                <i class="fas fa-percent fa-10x"></i>
                            </figure>
                        </div>
                        <div class="card-content">
                            <h3 class="title is-2">Interest Only Calculator</h3>
                            <!-- <h4 class="subtitle is-4">2018 – Present</h4> -->
                            <div class="content is-size-5">
                                Estimate loan value based only on interest
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="{{ url_for('interest_only_calculator') }}" class="card-footer-item">Learn More</a>
                        </footer>
                    </div>
                </div>
                <div class="column hvr-grow">
                    <div id="extraPaymentCalculator" class="card">
                        <div class="card-image">
                            <figure class="image imgPad has-text-centered">
                                <i class="fas fa-money-bill-wave fa-10x"></i>
                            </figure>
                        </div>
                        <div class="card-content">
                            <h3 class="title is-2">Extra Payment Calculator</h3>
                            <!-- <h4 class="subtitle is-4">2018 – Present</h4> -->
                            <div class="content is-size-5">
                                Calculate how long your mortgage lasts if you pay more
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="{{ url_for('extra_payment_calculator') }}" class="card-footer-item">Learn More</a>
                        </footer>
                    </div>
                </div>
                <div class="column hvr-grow">
                    <div id="taxBenifitsBuying" class="card">
                        <div class="card-image">
                            <figure class="image imgPad has-text-centered">
                                <i class="fas fa-chart-line fa-10x"></i>
                            </figure>
                        </div>
                        <div class="card-content">
                            <h3 class="title is-2">Tax Benefits of Buying</h3>
                            <!-- <h4 class="subtitle is-4">2018 – Present</h4> -->
                            <div class="content is-size-5">
                                Calculate the benefits of purchasing
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="{{ url_for('tax_benefits_buying') }}" class="card-footer-item">Learn More</a>
                        </footer>
                    </div>
                </div>
                <div class="column hvr-grow">
                    <div id="whatsMyAPR" class="card">
                        <div class="card-image">
                            <figure class="image imgPad has-text-centered">
                                <i class="fas fa-file-invoice-dollar fa-10x"></i>
                            </figure>
                        </div>
                        <div class="card-content">
                            <h3 class="title is-2">What's My APR?</h3>
                            <!-- <h4 class="subtitle is-4">2018 – Present</h4> -->
                            <div class="content is-size-5">
                                Calculate your APR for a specific loan
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="{{ url_for('my_apr') }}" class="card-footer-item">Learn More</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="is-subtitle is-1 animate__animated animate__bounce">
                <strong>Disclaimer:<br></strong>
                Information and interactive calculators are made available to you as self-help tools for your
                independent
                use and are not intended to provide investment advice. We cannot and do not guarantee their
                applicability or
                accuracy in regards to your individual circumstances. All examples are hypothetical and are for
                illustrative
                purposes. We encourage you to seek personalized advice from qualified professionals regarding all
                personal
                finance issues.
            </h1>
        </div>
        </div>
    </section>
    <script src="static\js\template.js"></script>
    {% endblock %}

</body>

</html>