<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    {% include "header.html" %}
</head>

<body data-gr-c-s-loaded="true" class="vsc-initialized">

    <section class="hero has-background is-fullheight">
        <img class="hero-background background-image" src="static\png\star-mortgage-building_withbackground.png">
        <div class="hero-head">
        </div>

        <div class="hero-body">
            <div class="container has-text-centered has-text-light">
                <h1 class=" animate__animated animate__bounce has-text-light" style="font-size: 7em;">
                    Star Mortgage
                </h1>
                <p class="">
                    Subtitle
                </p>
            </div>
        </div>
    </section>

    {% extends "template.html" %}
    {% block content %}

    <section class="section" style="background-color: #e9d2c0;">
        <div class="container">
            <div class="ourProductsTitle has-text-centered">
                <h2 class="title is-size-1 animate__animated animate__bounce">
                    &nbsp;Our Products
                </h2>
                <p class="is-size-4 mx-6 px-6">
                    No matter what type of loan you are looking for, we are there with you every
                    step of the way to guide you along your loan experience. Let us find the perfect loan that works for
                    you.
                </p>
                <br>
            </div>
            <div class="columns">
                <div class="column">
                    <div id="cardPurchaseHome" class="card">
                        <!--animate__animated animate__zoomIn animate__delay-2s !-->
                        <div class="card-image imgPad has-text-centered img-background">
                            <figure class="image">
                                <!-- <img src="static\png\purchase-home.jpg"> -->
                                <i class="fas fa-home fa-10x"></i>
                            </figure>
                        </div>
                        <div class="card-content">
                            <h2 class="title is-size-2">Purchase a Home</h2>
                            <!-- <h4 class="subtitle is-4">Subtitle</h4> -->
                            <div class="content is-size-5">
                                Whether you’re buying your first home or your vacation getaway, we have the
                                mortgage solution that works best for you. Get your custom rate quote today.
                            </div>
                        </div>
                        <footer class="card-footer card-footer-background">
                            <a href="{{ url_for('purchase_a_home') }}" class="card-footer-item">Learn
                                More</a>
                        </footer>
                    </div>
                </div>
                <div class="column">
                    <div id="cardRefinanceHome" class="card">
                        <div class="card-image">
                            <figure class="image imgPad has-text-centered img-background">
                                <!-- <img src="static\svg\money.svg"> -->
                                <i class="fas fa-calculator fa-10x"></i>
                            </figure>
                        </div>
                        <div class="card-content">
                            <h3 class="title is-2">Refinance Your Home</h3>
                            <!-- <h4 class="subtitle is-4">Subtitle</h4> -->
                            <div class="content is-size-5">
                                We are fully committed to helping you refinance with competitive rates and the
                                lowest fees industry wide.
                                Check out orr Low Rates and Get Started Today.
                            </div>
                        </div>
                        <footer class="card-footer card-footer-background">
                            <a href="{{ url_for('refinance') }}" class="card-footer-item">Learn More</a>
                        </footer>
                    </div>
                </div>
                <div class="column">
                    <div id="cardApplyNow" class="card">
                        <div class="card-image">
                            <figure class="image imgPad has-text-centered img-background">
                                <!-- <img src="https://avatars0.githubusercontent.com/u/30937952?s=200&v=4"> -->
                                <!--https://avatars3.githubusercontent.com/u/1531383?s=460&amp;v=4-->
                                <i class="fas fa-money-check-alt fa-10x"></i>
                            </figure>
                        </div>
                        <div class="card-content">
                            <h3 class="title is-2">Apply Now</h3>
                            <!-- <h4 class="subtitle is-4">Subtitle</h4> -->
                            <div class="content is-size-5">
                                Our secure loan application is quick and easy to complete.
                                You will be contacted by our team once your application
                                has been submitted and reviewed.

                            </div>
                        </div>
                        <footer class="card-footer card-footer-background">
                            <a href="{{ url_for('apply') }}" class="card-footer-item">Learn
                                More</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section has-background-grey-light">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-two-thirds">
                    <table class="table is-fullwidth is-hoverable is-size-6 is-striped" id="loan_types">
                        <thead class="has-background-success">
                            <tr>
                                <th>Loan Type</th>
                                <th>Interest Rate</th>
                                <th>APR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Traditional (30 Year Fixed)</th>
                                <th>TEST</th>
                                <th>TEST</th>
                            </tr>
                            <tr>
                                <th>20 Year Fixed</th>
                                <th>TEST</th>
                                <th>TEST</th>
                            </tr>
                            <tr>
                                <th>15 Year Fixed</th>
                                <th>TEST</th>
                                <th>TEST</th>
                            </tr>
                            <tr>
                                <th>10 Year Fixed</th>
                                <th>TEST</th>
                                <th>TEST</th>
                            </tr>
                            <tr>
                                <th>Interest-Only</th>
                                <th>TEST</th>
                                <th>TEST</th>
                            </tr>
                            <tr>
                                <th>VA Loan</th>
                                <th>TEST</th>
                                <th>TEST</th>
                            </tr>
                            <tr>
                                <th>VA IRRRL Loan</th>
                                <th>TEST</th>
                                <th>TEST</th>
                            </tr>
                            <tr>
                                <th>FHA (203-k and 203-b)</th>
                                <th>TEST</th>
                                <th>TEST</th>
                            </tr>
                            <tr>
                                <th>Renovation Loan</th>
                                <th>TEST</th>
                                <th>TEST</th>
                            </tr>
                            <tr>
                                <th>Flexible Loan Terms (21-29 years)</th>
                                <th>TEST</th>
                                <th>TEST</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div id="basic_form">
                <div class="columns is-multiline">
                    <div class="column is-8 is-offset-2 register">
                        <div class="columns">
                            <div class="column left">
                                <h1 class="title is-1">Star Mortgage</h1>
                                <h2 class="subtitle colored is-4">Looking for something else?</h2>
                                <p>Don't hesitate to contact our wonderful team about your individual needs. Looking for
                                    a
                                    different rate and term, contact us. We will answer any and all questions that you
                                    may
                                    have. </p>
                            </div>
                            <div class="column right has-text-centered">
                                <h1 class="title is-4">Sign up today</h1>
                                <p class="description">We will contact you shortly.</p>
                                <form action="/basic_form" method="POST">
                                    <div class="field">
                                        <div class="control">
                                            <input name="name" id="name" class="input is-medium" type="text"
                                                placeholder="Name" minlength="4" maxlength="30" required>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="control">
                                            <input name="email" id="email" class="input is-medium" type="email"
                                                placeholder="Email" value=""
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                                        </div>
                                    </div>

                                    <button style="background-color: hsl(166, 67%, 51%);"
                                        class="button is-block is-fullwidth is-medium">Submit</button>
                                    <br>
                                    <!-- <small><em>Lorem ipsum dolor sit amet consectetur.</em></small> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        :root {
            --brandColor: hsl(166, 67%, 51%);
            --background: rgb(247, 247, 247);
            --textDark: hsla(0, 0%, 0%, 0.66);
            --textLight: hsla(0, 0%, 0%, 0.33);
        }

        body {
            background: var(--background);
            height: 100vh;
            color: var(--textDark);
        }

        .field:not(:last-child) {
            margin-bottom: 1rem;
        }

        .register {
            margin-top: 3rem;
            background: white;
            border-radius: 10px;
        }

        .left,
        .right {
            padding: 4.5rem;
        }

        .left {
            border-right: 5px solid var(--background);
        }

        .left .title {
            font-weight: 800;
            letter-spacing: -2px;
        }

        .left .colored {
            color: var(--brandColor);
            font-weight: 500;
            margin-top: 1rem !important;
            letter-spacing: -1px;
        }

        .left p {
            color: var(--textLight);
            font-size: 1.15rem;
        }

        .right .title {
            font-weight: 800;
            letter-spacing: -1px;
        }

        .right .description {
            margin-top: 1rem;
            margin-bottom: 1rem !important;
            color: var(--textLight);
            font-size: 1.15rem;
        }

        .right small {
            color: var(--textLight);
        }

        input {
            font-size: 1rem;
        }

        input:focus {
            border-color: var(--brandColor) !important;
            box-shadow: 0 0 0 1px var(--brandColor) !important;
        }
    </style>

    <style>
        .tb_button {
            padding: 1px;
            cursor: pointer;
            border-right: 1px solid #8b8b8b;
            border-left: 1px solid #FFF;
            border-bottom: 1px solid #fff;
        }

        .tb_button.hover {
            border: 2px outset #def;
            background-color: #f8f8f8 !important;
        }
    </style>


    <script src="static\js\template.js"></script>
    {% endblock %}
    
</body>

</html>