<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
{% include "header.html" %}

</head>

<body data-gr-c-s-loaded="true" class="vsc-initialized">

    {% extends "template.html" %}
    {% block content %}


    <h1 class="title is-1 animate__animated animate__bounce has-text-centered">
        &nbsp;Feedback
    </h1>

    <section class="section">
        <div class="container">
            <form class="form-horizontal" action="/report_issue_contact" method="POST">
                <div class="field">
                    <label class="label" for="name">Name</label>
                    <div class="control">
                        <input name="name" id="name" class="input" type="text" placeholder="Text input" minlength="4" maxlength="30" required>
                    </div>
                    <p id="name_help" class="help is-danger">Type your name here</p>
                </div>
        
                <div class="field">
                    <label class="label" for="email">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input name="email" id="email" class="input" type="email" placeholder="Email input" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                    <p id="email_help" class="help is-danger">This email is invalid</p>
                </div>
        
                <div class="field">
                    <label class="label" for="subject">Subject</label>
                    <div class="control">
                        <div class="select">
                            <select id = "subject" name="subject">
                                <option value="Issue With Website">Issue with website</option>
                                <option value="Other Problems">Other Problems</option>
                            </select>
                        </div>
                    </div>
                </div>
        
                <div class="field">
                    <label class="label" for="message">Message</label>
                    <div class="control">
                        <textarea id="message" name="message" class="textarea" placeholder="Textarea" required></textarea>
                    </div>
                </div>
        
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-link">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="page">
            <h1>The standard Lorem Ipsum passage</h1>
       
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       </div>
       <div id="loading"></div>
    </section>

    <script src="static\js\template.js"></script>
    {% endblock %}
</body>

</html>