<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
{% include "header.html" %}
</head>

<body data-gr-c-s-loaded="true" class="vsc-initialized">


    <section class="section">
        <div class="has-text-centered">
            <h2 class="title is-1 animate__animated animate__bounce">
                &nbsp;Testimonials
            </h2>
            <hr>
        </div>
    </section>

    {% extends "template.html" %}
    {% block content %}


        <div class="container has-text-centered pb-6">
            <div class="columns">
                <div class="column">
                    <p class="block">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                    <div class="level">
                        <div class="level-item">
                            <figure class="image is-64x64"><img class="is-rounded"
                                    src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2"></figure>
                        </div>
                    </div>
                    <h5 class="title is-5">NAME</h5>
                    <p class="subtitle">CEO at K-Hole</p>
                </div>
                <div class="column">
                    <p class="block">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                    <div class="level">
                        <div class="level-item">
                            <figure class="image is-64x64"><img class="is-rounded"
                                    src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2"></figure>
                        </div>
                    </div>
                    <h5 class="title is-5">NAME</h5>
                    <p class="subtitle">Investor, Angel, Great Guy</p>
                </div>
                <div class="column">
                    <p class="block">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                    <div class="level">
                        <div class="level-item">
                            <figure class="image is-64x64"><img class="is-rounded"
                                    src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2"></figure>
                        </div>
                    </div>
                    <h5 class="title is-5">NAME</h5>
                    <p class="subtitle">Artificial Intelligence</p>
                </div>
            </div>
        </div>

    

    <script src="static\js\template.js"></script>
    {% endblock %}
</body>

</html>